* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}

body {
  background: black;
  color: white;
}

#posts-container li {
  max-width: 400px;
}