* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 1;
}

body {
  background: black;
  color: white;
  padding: 1rem;
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
}

#posts-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

#posts-container li {
  max-width: 400px;
}